<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1096441127517-qio96t04rd8ujd5a3dut8disedc88cba.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1096441127517-qio96t04rd8ujd5a3dut8disedc88cba</string>
	<key>API_KEY</key>
	<string>AIzaSyAyNG-x3jQdurSq7qnxwBKqhR1YUKC9slI</string>
	<key>GCM_SENDER_ID</key>
	<string>1096441127517</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.loginFirebase</string>
	<key>PROJECT_ID</key>
	<string>login-app-9918e</string>
	<key>STORAGE_BUCKET</key>
	<string>login-app-9918e.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1096441127517:ios:ed9f263763311aa9cae3b4</string>
</dict>
</plist>